.artistButtonSpan {
    margin: 100px;
    display: inline-block;
}

.margin2 {
  margin: 5px;
  }


.check-with-label {
}

.check-with-label:checked + .label-for-check {
  background-color:#9eb1bb;
  color:white;
  border-radius: 8px;
}

.hideThis {
    display:none;
}

.shown {
    display:inherit;
}

body {
    background-color: white;
}

header {
    height: 30px;
}


.w3-card-4 {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #eff3f6;
   color: white;
   text-align: center;
}
