.artistButtonSpan {
    margin: 100px;
    display: inline-block;
}

.margin2 {
  margin: 5px;
  }


.check-with-label {
}

.check-with-label:checked + .label-for-check {
  background-color:black;
  color:white;
  border-radius: 8px;
}


